*
  margin: 0
  padding: 0

body
  width: 100vw
  height: 100vh
  max-width: 100%

a
  color: white
  text-decoration: none

a:hover
  color: yellow

#error-message
  color: red

button, #button
  margin: .4rem
  padding: .5rem
  background: white
  border: solid 1px black
  font-size: 1rem
  color: rebeccapurple
  transition: all 500ms ease-in-out

button:hover, #button:hover
  background: rgba(0, 0, 0, .2)
  color: white
  border: solid 1px white

label
  margin: .2rem
